Source: libneurolab
Priority: optional
Maintainer: Jacob Kanev <j_kanev@arcor.de>
Build-Depends: debhelper (>= 4.0.0), libgsl0ldbl, libgsl0-dev, libboost-dev
Standards-Version: 3.6.1
Section: libs

Package: libneurolab-dev
Section: libdev
Architecture: any
Depends: libneurolab0.0 (= ${Source-Version}), libgsl0-dev, gnuplot, libboost-dev
Suggests: doxygen
Description: Stochastic differential equations for neuroscience
 .
 Biological neurons and synapses can be modelled with stochastic
 differential equations (SDEs, which are different from normal differential 
 equations). NeuroLab is a C++ class library which allows analysis and simulation of
 SDEs, mainly in the neuroscience field.
 .
 SDEs can be simulated, data collected using estimator classes 
 which can for listen for conditional or unconditional samples, means,
 variances or higher moments. Results can be altered using analytical
 functions. Pure results, altered results, and analytical functions can be
 saved as raw data (gnuplot readable), displayed with a predefined display class,
 or saved as postscript, ready to be included in your paper.
 .
 Any SDE can be simulated, both in Ito and Stratonovich interpretation, 
 switching is allowed even at runtime. Different noises are implemented,
 a theta neuron and an integrate-and-fire neuron, and different synapses.
 Larger structures (neural columns and layers), as well as more neuron
 and synapse types are planned.
 .


Package: libneurolab0.0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgsl0ldbl, gnuplot
Suggests: doxygen
Description: Description: C++ library for simulation of stochastic differential equations in neuroscience
 .
 NeuroLab is a C++ class library which allows simulation of stochastic differential
 equations (SDEs), mainly in the neuroscience field.
 .
 SDEs can be simulated, data collected using estimator classes 
 which can for listen for conditional or unconditional samples, means,
 variances or higher moments. Results can be altered using analytical
 functions. Pure results, changed results, and analytical functions can 
 saved as raw data (gnuplot readable), displayed with a predined display class,
 or saved as postscript, ready to be included in your paper.
 .
 Any SDE can be simulated, both in Ito and Stratonovich interpretation, 
 switching is allowed even at runtime. Different noises are implemented,
 a theta neuron and an integrate-and-fire neuron, and different synapses.
 More neuron types are planned.
 .

